[2017-10-19 13:51] aellis opened #1 "New Gallery Item - Accounts Payable Summary"
Develop a bar chart based view for Accounts Payable using one of the following (https://www.fusioncharts.com/charts/column-bar-charts/).  The bars should be labeled as:

Past Due
0-30
31-60
61-90
91+

[2017-11-02 18:05] aellis opened #6 "Accounts Receivable - Comparative AR Balance - Linear Gauge with 3 color ranges"
Develop a Linear Gauge with 3 color ranges view to present Comparative AR Balances.  The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway.  Here is the description of the data:

Determine the highest AR balance over the last 12 months, the average AR balance of the last 12 months, and the current AR balance.

I envision the gaug

[2017-11-02 18:07] aellis opened #7 "Accounts Receivable - Comparative AR Balance - Spark Box"
Develop a spark box (similar to Comparative Sales Breakdown) to present Comparative AR Balances.  The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

Determine the highest AR balance over the last 12 months, the average AR balance of the last 12 months, and the current AR balance.

I envis

[2017-11-02 18:10] aellis opened #8 "Accounts Receivable - E-mail Invoices"
This Bezl should be a replacement for Logicity Automatic Invoicing.  It should bring together all open invoices along with e-mail contacts for those invoices and facilitate a batch e-mail process.  As opposed to using Crystal Reports, use HTML e-mail and the SMTP plugin.  Keep track of "sent" invoices in a custom table or Excel file and allow re-send by searching the previously sent.

[2017-11-02 18:15] aellis opened #9 "Accounts Receivable - AR Summary By Category"
This is a nearly identical layout to AP Summary By Category, just for accounts receivable.

[2017-11-02 18:19] aellis opened #10 "CEO / CFO - Comparative Sales Breakdown - Epicor Queries"
We have the following query being developer by Raman:

•	Total Revenue
o	Variations: Year to date, month to date, today
o	Just return the total revenue for the given period

When this is returned, ensure it is compatible with Comparative Sales Breakdown and add the queries to gallery.

[2017-11-02 18:24] aellis opened #11 "CEO / CFO - Total Revenue By Part - Grid"
The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

•	Total Revenue By Part
o	Variations: Year to date, month to date, today
o	Just return the total revenue for the given period and part

I believe this one works best as a grid sorted by revenue highest to lowest.  Add a selector button to

[2017-11-02 18:25] aellis opened #12 "CEO / CFO - Total Revenue By Month - Bar Chart"
Use a bar chart from https://www.fusioncharts.com/charts/column-bar-charts/ to show total revenue by month.  The query is being developed currently and here is the description:

o	Just return the total revenue for the given period by month

[2017-11-02 18:27] aellis opened #13 "CEO / CFO - Gross Margin By Class - Pyramid Chart"
The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

o	Variations: Year to date, month to date, today
o	Description: This will be going into a pyramid where we show the total gross margin dollars grouped by product class or group.  Should be derived from invoices comparing sales versus cost

[2017-11-02 18:31] aellis opened #14 "CEO / CFO - Inventory Turnover By Part - Zoom Chart"
The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

o	Measure the turnover by part sorting by the slowest first.

For this one I was thinking we would use a zoon chart (https://www.fusioncharts.com/charts/zoom-scroll-charts/) to plot each part on an axis of turnover in days and cost.  User

[2017-11-02 18:31] aellis opened #15 "CEO / CFO - Inventory Turnover By Part - Grid"
The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

o	Measure the turnover by part sorting by the slowest first.

Simply present this variation as a grid sorted by the slowest turnover first.

[2017-11-02 18:37] aellis opened #16 "Common - Company Directory"
Add a new version of company directory to conform to new standards.  Have buttons along the left hand size for A-Z to correspond with last name and in the body group by office and then department.  Each employee should be presented with their details and click to dial / click to e-mail links.

Query for Epicor is attached.  Make a version for Excel for the default.

[2017-11-02 18:45] aellis opened #17 "Customer Service - Customer Satisfaction - Bullet Graph"
The idea behind this one is that each customer may be given a series of 1-5 metrics to rank your company by (responsiveness, quality, etc) and that we will store those per customer and display each category averaged out.  Use a bullet graph (https://www.fusioncharts.com/charts/bullet-graphs/) to present each of these categories.  Ideally I would like this to be as dynamic as possible where we dyna

[2017-11-02 18:50] aellis opened #18 "Production Worker - Job Schedule - Gantt Chart"
Use a Gantt chart (https://www.fusioncharts.com/charts/gantt-charts/) to present job information.  The idea is to have an input for a job number that shows all of the operations for that job with their start / due dates.  It would be nice to build in a jquery listener here so this could play nice with something like a labor entry screen.

[2017-11-02 18:56] aellis opened #19 "Production Manager - Scrap Units Per Hour - Spark Box"
The query for this gallery item for Epicor is currently being developed, but we will want to Excel target initially anyway. Here is the description of the data:

Description: The idea on this one should be how many units per hour for the current day are being scrapped.  This should just be a single summary row returned in query.  I think this would be the Bad Qty on labor tickets in Visual and the

[2017-11-02 19:03] aellis opened #20 "Production Manager - Production Efficiency - Gauge"
We currently have a gallery item for Production Throughput which may be more appropriately renamed Production Efficiency.  Here is the query being developed in support of that:

Variations: Year to date, month to date, today
Description: Return a percentage efficiency for a given work center derived by actual cost as opposed to standards.  Return as a single row showing the actual as well as the s

[2017-11-02 19:04] aellis opened #21 "Customer Service - Customer Satisfaction - Spider Chart"
The idea behind this one is that each customer may be given a series of 1-5 metrics to rank your company by (responsiveness, quality, etc) and that we will store those per customer and display each category averaged out. Use a spider chart (https://www.fusioncharts.com/charts/radar-spider-charts/) to present each of these categories. Ideally I would like this to be as dynamic as possible where we

[2017-11-02 19:08] aellis opened #22 "Purchasing - Consumable Material Quantity On Hand - Cylinder Gauge"
The idea behind this one is to have some consumable material (let's say, bolts) that a given work center or purchasing agent needs to really stay on top of.  So we will present that as a Cylinder Gauge from here: https://www.fusioncharts.com/charts/gauges/.  When installing this Bezl there should be a variable for the part number that is blank initially.  The, upon first run, we detect that, promp

[2017-11-02 19:09] aellis commented on #22
Oh, and here was the description of what the query will return:

Description: This query should take a raw material and return a single row with the quantity on hand, min quantity, and max quantity.  For now just hard code it to a single part but the Bezl will make this dynamic.

[2017-11-02 19:12] aellis opened #23 "Purchasing - Supplier Analysis - Spider Chart"
Similar to the other open issue on customer service ranking, this one will be for suppliers.  So use a spider chart (https://www.fusioncharts.com/charts/radar-spider-charts/) to present the data that will come back on a query defined as per the following:

For a given supplier, return the following metrics in comparison to peers on a scale of 1-10: Cost, Quality, On Time Delivery.

We would prompt

[2017-11-02 19:15] aellis opened #24 "Sales Manager - Win / Loss By Territory - Heat Map"
The query on this one and corresponding Excel file should provide the following:

Description: Show a rolling 12 months summary by territory of wins versus losses as reported on quotes.  Simply return a territory column, a customer name, a quote number, and a won / lost column.

The visualization will be a heat map as per here (https://www.fusioncharts.com/charts/heat-map-charts/) where each terri

[2017-11-02 19:19] aellis opened #25 "Sales Manager - Gross Profit Percentage - Spark Box"
This one will be a very simple spark box showing the gross profit percentage with entries for YTD, MTD, and Today.  Below each, show a trend indicator comparing to the same period last year.  Attached are a few queries for VISUAL that serve a similar purpose.

[2017-11-02 19:21] aellis opened #26 "Sales Manager - Average Order Size - Bullet Graph"
Query developed (attached) as per the following - target to Excel as well:

o	Variations: Year to date, month to date, today
o	Return the average size of orders taken for the given period in terms of dollars.

Display as a bullet graph entry almost identical to https://www.fusioncharts.com/charts/bullet-graphs/

[2017-11-02 19:22] aellis opened #27 "Sales Manager - New Customers - Bullet Graph"
Query developed (attached) as per the following - target to Excel as well:

o	Variations: Year to date, month to date, today
o	Return the total number of customer records created in the given period.

Display as a bullet graph entry almost identical to https://www.fusioncharts.com/charts/bullet-graphs/

[2017-11-02 19:24] aellis opened #28 "Sales Manager - Sales Funnel"
Create a sales funnel using https://www.fusioncharts.com/charts/funnel-charts/.  A query is being developed for this for Epicor now with the following direction:

o	Return the current sales funnel in dollars.  I know Epicor has a concept within a quote for the various stages, will need to see if Visual has the same.  I will be presenting them in the order the query returns them so sort them accord

[2017-11-02 19:26] aellis opened #29 "Sales Manager - Sales Team Performance - Grid"
This one we will do as a simple grid with a YTD / MTD selector at the top.  Query / Excel spec:

Return rows showing the sales by salesperson for the given period.  Include a column for the territory.

[2017-11-02 19:26] aellis commented on #29
[SalesPersonByTeritory.txt](https://github.com/bezlio/bezlio-gallery/files/1439082/SalesPersonByTeritory.txt)

[2017-11-02 19:27] aellis commented on #27
[NewCustomers.txt](https://github.com/bezlio/bezlio-gallery/files/1439083/NewCustomers.txt)

[2017-11-02 19:27] aellis commented on #18
[JobOper.txt](https://github.com/bezlio/bezlio-gallery/files/1439084/JobOper.txt)

[2017-11-02 19:28] aellis commented on #16
[Company Directory.txt](https://github.com/bezlio/bezlio-gallery/files/1439086/Company.Directory.txt)

[2017-11-02 19:28] aellis commented on #21
[Customer Satisfaction.txt](https://github.com/bezlio/bezlio-gallery/files/1439087/Customer.Satisfaction.txt)

[2017-11-02 19:28] aellis commented on #17
[Customer Satisfaction.txt](https://github.com/bezlio/bezlio-gallery/files/1439088/Customer.Satisfaction.txt)

[2017-11-02 19:28] aellis commented on #26
[AverageOrderSize.txt](https://github.com/bezlio/bezlio-gallery/files/1439091/AverageOrderSize.txt)

[2017-11-02 19:34] aellis opened #30 "Sales Manager - Gross Profit By Product Group - Bar Chart"
Show gross profit by product group as a bar chart with YTD / MTD / Today selectors.  A query is being developed with the following spec so the Excel should follow a similar approach:

o	Variations: Year to date, month to date, today
o	Return the gross profit as a dollar amount according to invoicing sales versus cost for the given time period.

[2017-11-02 19:37] aellis opened #31 "Sales Manager - Gross Profit By Sales Order - Zoom Chart"
Use a zoom chart (https://www.fusioncharts.com/charts/zoom-scroll-charts/) to plot sales orders for the given time frame where the total sales amount is on one axis and gross profit is on another.  The expectation is that most sales orders should follow a common trend - higher sales = lower GP - but the zoom chart will help to highlight the outliers and allow the user to zoom in.  Here is the quer

[2017-11-02 19:39] aellis opened #32 "Sales Manager - Sales By State - Map View"
Use something like https://www.fusioncharts.com/charts/fusionmaps/?map=usa-states to plot sales by state.  Here was the query spec and what the Excel should align to:

o	Variations: Year to date, month to date
o	Show the sales for the given period by state.

[SalesByState.txt](https://github.com/bezlio/bezlio-gallery/files/1439121/SalesByState.txt)

[2017-11-02 19:40] aellis opened #33 "Sales Manager - Top 10 Customers - Grid View"
[Top10Sales.txt](https://github.com/bezlio/bezlio-gallery/files/1439128/Top10Sales.txt)

I believe we were just going to do a standard grid for this one sorted by sales descending.  The Epicor query is attached.

[2017-11-02 19:42] aellis commented on #28
Note on this one - this goes under the role for sales manager and sales rep.  The query itself / BRDB permissions will control the data that comes back so just document when switching the connection that they should add a parameter with bezl.env.currentUser.

[2017-11-02 19:45] aellis opened #34 "Shipping Manager - On Time Shipments - Spark Box"
Create an on time shipments gallery item similar to Comparative Sales Breakdown.  The query spec is as follows:

o	Variations: Year to date, month to date
o	Description: This query should return  the on time shipping performance for the respective period and a comparison to the previous period.  So MTD would be MTD this year and also a row for MTD last year.  See mtd-sales-cur-vs-prior-by-region.t

[2017-11-02 19:47] aellis opened #35 "Shipping Worker - Picklist"
This will be for a digital picklist.  User should input a date range for the ship by date and it will return all of the items to ship.  When tapping on an entry, it should expand out and show the locations that inventory can currently be picked from.  Here is the query spec out for development:

o	Create a query to do a picklist.  Make a date range for the ship by date.  For each line also include

[2017-11-04 22:36] aellis commented on #1
Closing this one out - this was implemented as a multi-level pie chart which is much more insightful.

[2017-11-04 22:36] #1 closed, assigned to aellis

[2017-11-06 14:38] OnlyAGhost opened #36 "Accounts View - Implement pagination"
The performance of accounts view on mobile devices leaves a lot to be desired. Implement a new version of accounts view that uses pagination to reduce the overall data load.

[2017-11-06 15:32] OnlyAGhost opened #37 "Common - Announcements"
Create a gallery items for the announcements Bezl

[2017-11-06 15:43] spak111 commented on #37
Where should the announcements be pulled from for this gallery item? Specifically, just looking to understand what the data structure would look like for this.

[2017-11-06 15:44] OnlyAGhost commented on #37
This is converting from bezlio-apps to bezlio-gallery. So you should be able to pull the apps bezl to get the starting point of where we need to take it.

[2017-11-06 15:46] spak111 commented on #37
Thank you very much for this further information.

[2017-11-06 23:37] bschnabs commented on #28
@OnlyAGhost @aellis do we have a query yet for this?

[2017-11-06 23:40] aellis commented on #28
It doesn't look like we have got one yet.

[2017-11-06 23:43] OnlyAGhost commented on #28
I could prob create a Salesforce one quick. Or mock it in Excel

Sent from my iPhone

On Nov 6, 2017, at 6:40 PM, Adam Ellis <notifications@github.com<mailto:notifications@github.com>> wrote:

It doesn't look like we have got one yet.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/bezlio/bezlio-gallery/issues/28#issuecomment

[2017-11-06 23:44] bschnabs commented on #28
Yeah I'm just going to mock something up quick. Just wanted to check to avoid double work.

[2017-11-07 16:55] kmansfield commented on #36
[proposed_account_view_mockups.pdf](https://github.com/bezlio/bezlio-gallery/files/1450878/proposed_account_view_mockups.pdf)

I attached a walk-through of a redesign. Let me know what you guys think.

[2017-11-07 19:14] OnlyAGhost commented on #36
@kmansfield I copied you on the contact at Sunlight correct? would you like to get his input?

[2017-11-07 19:43] kmansfield commented on #36
Yeah, that would be good. I had a couple ideas that I laid out. Any feedback is good. I also wanted to make sure this was what you had in mind regarding the pagination, navigation by alphabet, and other features we discussed

Kevin Mansfield

Web Designer

SaberLogic

________________________________
From: Brian Ellis <notifications@github.com>
Sent: Tuesday, November 7, 2017 2:14:45 PM
To: bezlio

[2017-11-09 16:50] aellis commented on #28
@soft-Dev - I just added this pull request.  Looks like we have a small tweak - can you set the default data source upon installation to be Excel?  It is set up to Epicor currently.  Also, go ahead and make this one a featured.  I think we will feature all new additions by default.

[2017-11-09 20:51] aellis commented on #17
I completed this one.  Note that the Fusion Charts bullet graph was not used, instead opting for using standard Bootstrap progress bars for better performance and simplicity.

[2017-11-09 20:51] #17 closed, assigned to nobody

[2017-11-13 13:52] aellis commented on #26
Updated query to conform to standards specified to Raman:

[AverageOrderSize.txt](https://github.com/bezlio/bezlio-gallery/files/1467029/AverageOrderSize.txt)

[2017-11-13 13:52] aellis commented on #16
Updated query to conform to standards specified to Raman:

[Company Directory.txt](https://github.com/bezlio/bezlio-gallery/files/1467031/Company.Directory.txt)

[2017-11-13 13:53] aellis commented on #22
Updated query to conform to standards specified to Raman:

[Consumable Material Quantity On Hand.txt](https://github.com/bezlio/bezlio-gallery/files/1467032/Consumable.Material.Quantity.On.Hand.txt)

[2017-11-13 13:54] aellis commented on #18
Updated query to conform to standards specified to Raman:

[JobOper.txt](https://github.com/bezlio/bezlio-gallery/files/1467037/JobOper.txt)

[2017-11-13 13:54] aellis commented on #27
Updated query to conform to standards specified to Raman:

[NewCustomers.txt](https://github.com/bezlio/bezlio-gallery/files/1467038/NewCustomers.txt)

[2017-11-13 13:54] aellis commented on #34
Updated query to conform to standards specified to Raman:

[OnTimeShipment.txt](https://github.com/bezlio/bezlio-gallery/files/1467041/OnTimeShipment.txt)

[2017-11-13 13:55] aellis commented on #32
Updated query to conform to standards specified to Raman:

[SalesByState.txt](https://github.com/bezlio/bezlio-gallery/files/1467042/SalesByState.txt)

[2017-11-13 13:55] aellis commented on #29
Updated query to conform to standards specified to Raman:

[SalesPersonByTeritory.txt](https://github.com/bezlio/bezlio-gallery/files/1467043/SalesPersonByTeritory.txt)

[2017-11-13 13:56] aellis commented on #19
Updated query to conform to standards specified to Raman:

[Scrap Units Per Hour.txt](https://github.com/bezlio/bezlio-gallery/files/1467045/Scrap.Units.Per.Hour.txt)

[2017-11-13 13:56] aellis commented on #33
Updated query to conform to standards specified to Raman:

[Top10Sales.txt](https://github.com/bezlio/bezlio-gallery/files/1467047/Top10Sales.txt)

[2017-11-13 13:57] aellis commented on #24
Updated query to conform to standards specified to Raman:

[WonNLoss By Territory.txt](https://github.com/bezlio/bezlio-gallery/files/1467049/WonNLoss.By.Territory.txt)

[2017-11-14 15:45] gramang opened #41 "CEO / CFO - Total Revenue"
Updated query to conform to standards specified to Adam:
[Total Revenue.txt](https://github.com/bezlio/bezlio-gallery/files/1471465/Total.Revenue.txt)

[2017-11-14 15:47] gramang opened #42 "CEO / CFO - Total Revenue By Part"
Updated query to conform specified to Adam:
[Total Revenue By Part.txt](https://github.com/bezlio/bezlio-gallery/files/1471470/Total.Revenue.By.Part.txt)

[2017-11-14 15:48] gramang opened #43 "CEO / CFO: Total Revenue By Month"
Updated query to conform specified to Adam:
[Total Revenue By Month.txt](https://github.com/bezlio/bezlio-gallery/files/1471473/Total.Revenue.By.Month.txt)

[2017-11-14 21:38] aellis commented on #43
@gramang I may have not been clear about what to do with these issues.  I was expecting this query to be attached to #12.  Can you add the attachment there and close this one out?

[2017-11-14 21:39] aellis commented on #42
@gramang same deal here - this one belongs with #11.  Attach your query there and close this one out.

[2017-11-14 21:41] aellis commented on #41
@gramang can you associate this with #10 and close this one out?

[2017-11-14 21:43] aellis commented on #41
One more note - to keep our styles consistent, can you keep any non-verbs in queries to match the case as they are defined in the database?  For example:

[code]

[2017-11-15 08:35] gramang commented on #12
@aellis As requested attached the query for Total Revenue for the given period
[Total.Revenue.By.Month.txt](https://github.com/bezlio/bezlio-gallery/files/1473888/Total.Revenue.By.Month.txt)

[2017-11-15 08:38] gramang commented on #11
@aellis As requested attached the Total Revenue By Part Query
[Total.Revenue.By.Part.txt](https://github.com/bezlio/bezlio-gallery/files/1473894/Total.Revenue.By.Part.txt)

[2017-11-15 08:41] gramang commented on #10
@aellis As requested I have associated the Total Revenue Query against this item
[Total.Revenue.txt](https://github.com/bezlio/bezlio-gallery/files/1473905/Total.Revenue.txt)

[2017-11-15 17:11] #18 closed, assigned to spak111

[2017-11-20 19:41] #28 closed, assigned to bschnabs, kmansfield

[2017-11-20 19:58] aellis commented on #6
[Comparative AR Balance - Linear Gauge.txt](https://github.com/bezlio/bezlio-gallery/files/1488932/Comparative.AR.Balance.-.Linear.Gauge.txt)

[ComparativeARBalance.txt](https://github.com/bezlio/bezlio-gallery/files/1488934/ComparativeARBalance.txt)

[2017-11-20 19:58] aellis commented on #6
I think this largely just needs buttoned up the rest of the way and added to gallery.

[2017-11-20 20:31] NDMO commented on #36
@kmansfield let me know when you are finished up with the ui design, Then i can work on the bugs in the js

[2017-11-20 20:32] NDMO commented on #36
note to self: js files will have to be modified:
       bezl.data.Accounts => bezl.vars.displayedAccounts....

[2017-11-20 20:34] kmansfield commented on #36
Cool, I'll let you know when I'm done.

Kevin Mansfield

Web Designer

SaberLogic

________________________________
From: Nick Owens <notifications@github.com>
Sent: Monday, November 20, 2017 3:31:58 PM
To: bezlio/bezlio-gallery
Cc: Kevin Mansfield; Mention
Subject: Re: [bezlio/bezlio-gallery] Accounts View - Implement pagination (#36)

@kmansfield<https://github.com/kmansfield> let me know when y

[2017-11-21 13:13] aellis opened #47 "Production Worker - Mass Material Movement"
Port our Epicor Mass Material Movement customization to Bezlio.  We have existing customers that will get this as a part of maintenance on that legacy product and also use this for new inbounds.

[2017-11-21 13:28] gramang commented on #35
@aellis  We have Updated query, please check and confirm
[PickList.txt](https://github.com/bezlio/bezlio-gallery/files/1491472/PickList.txt)

[2017-11-22 11:53] aellis opened #48 "Production Worker - Issue Materials - Remove Materials Exist Validation (Customer Related)"
Adding this issue in gallery since this is now a gallery item, but this is a customer-originated request on paid services.  We have a validation in place on the issue materials Bezl that pops an alert if no materials exist on the selected job / ?asm / ?op.  Since this Bezl allows you to add materials on the fly, this validation no longer serves a purpose, so remove it.

[2017-11-22 11:54] aellis commented on #48
Upon completion of this task, please connect with @aellis as we need to load this up into the requesting customers' account as well.

[2017-11-23 08:56] gramang commented on #33
@aellis Updating the Oracle Apps Query for this, Please notE this is for Oracle Apps
[Top 10 Sales.txt](https://github.com/bezlio/bezlio-gallery/files/1498458/Top.10.Sales.txt)

[2017-11-23 08:58] gramang commented on #27
@aellis Updating the Oracle Apps Query for this, Please note this is for Oracle Apps
[NewCustomers.txt](https://github.com/bezlio/bezlio-gallery/files/1498462/NewCustomers.txt)

[2017-11-23 08:59] gramang commented on #22
@aellis Updating the Oracle Apps Query for this, Please note this is for Oracle Apps
[Consumable Material Quantity On Hand.txt](https://github.com/bezlio/bezlio-gallery/files/1498468/Consumable.Material.Quantity.On.Hand.txt)

[2017-11-23 09:00] gramang commented on #32
@aellis Updating the Oracle Apps Query for this, Please note this is for Oracle Apps
[Sales by State.txt](https://github.com/bezlio/bezlio-gallery/files/1498471/Sales.by.State.txt)

[2017-11-23 09:01] gramang commented on #16
@aellis Updating the Oracle Apps Query for this, Please note this is for Oracle Apps
[Company Directory.txt](https://github.com/bezlio/bezlio-gallery/files/1498473/Company.Directory.txt)

[2017-11-27 14:35] OnlyAGhost commented on #48
Verified with Adam it should be removed permanently from the gallery.

[2017-11-28 11:29] gramang commented on #15
@aellis  Updated the query to Measure the turnover by part by slowest
[SlowestMovingItem.Txt](https://github.com/bezlio/bezlio-gallery/files/1509661/SlowestMovingItem.Txt)

[2017-11-28 11:30] gramang commented on #14
@aellis Updated the query to Measure the turnover by part by slowest
[SlowestMovingItem.Txt](https://github.com/bezlio/bezlio-gallery/files/1509668/SlowestMovingItem.Txt)

[2017-11-28 11:33] gramang commented on #23
@aellis Update the query for Supplier Service ranking
[SupplierSatisfaction.txt](https://github.com/bezlio/bezlio-gallery/files/1509680/SupplierSatisfaction.txt)

[2017-11-28 12:11] gramang commented on #47
@aellis Can you please give us more information on this to understand the requirement

[2017-11-28 12:54] aellis commented on #47
@gramang this one will require us getting you up to speed on development within Bezlio itself before you'd be able to work on this one.  Would you have some time Thursday morning for a training session on that?

[2017-11-29 01:25] gramang commented on #47
@aellis Yes we are available for the training on Thursday Morning, please let us know the time

[2017-11-29 13:21] NDMO opened #50 "Sales Manager - Comparative Sales Breakdown - Missing xlsx"
When trying to download the sales.xlsx from the gallery, It will display an error:
![image](https://user-images.githubusercontent.com/20114911/33377110-334eee20-d4de-11e7-933f-e8654b4ac979.png)

[2017-11-29 13:42] aellis opened #51 "Job Schedule - Gantt Chart - Thumbnail Image Size Incorrect"
The thumbnail for Job Schedule - Gantt Chart is incorrectly sized and is throwing off the gallery.  Resize it to 1000x350.

[2017-11-29 14:47] NDMO opened #52 "Sales Rep - Accounts View - Combine Taskview"
Combine taskview into the accounts view.  Similar to the call log feature in the current accounts view.

[2017-11-29 15:49] bschnabs commented on #51
This is in the pull request for the SSRS plugin.

[2017-11-29 17:56] aellis opened #53 "Virtual Warehouse - Thumbnail Size Incorrect"

[2017-11-29 18:05] aellis opened #54 "Common - Geocoder"
We do not yet have the Geocoder added to gallery.  This needs to be copied in and possibly made to conform to standard installation steps.  My suggestion is that we have a primary data subscription for Accounts that is pulling back all accounts not having Geocode data.  When you hit the button to perform the geocoding reference that data subscriptions properties like so:

[code]

[2017-11-29 18:07] aellis opened #55 "Production Worker - Production Team Leader"
Add the existing Production Team Leader Bezl from apps to gallery.  This one will likely not conform to standard install steps and will be for only Epicor and Visual until we take the time to refactor it to be a bit more dynamic.

[2017-11-29 18:12] aellis commented on #54
Small revision to my suggestion here - I think we might be able to make it pull even more from bezl.dataService.dataSubscriptions.getValue().Accounts.args so that it works correctly whether you are pointing to a plugin instance or plugin directly.

[2017-11-29 18:13] aellis opened #56 "Sales Rep - Accounts View - Add Attachments Action Button"
Just like we have the Call Log button in the latest accounts view, also add an 'Attachments' button that shows attachments for a given customer account.  I think it is sensible that this should be required to pull from the same data source as the Accounts data subscription (which will conform to standard installation steps) - so this assumes for example that if the Accounts are being pulled from S

[2017-11-29 18:17] aellis opened #57 "Sales Rep - Accounts View - Add Price List Button"
Add a button in accounts view to pull up the customers price list.  We might want to consider having variables that determine what buttons to show and hide configurable via a settings button and updating those values with:

bezl.helpers.updateVariable('varName', 'var value');

[2017-11-29 18:18] aellis opened #58 "Sales Rep - Accounts View - Add Invoice Inquiry Button"
Add a button in accounts view to pull up the customers invoices using a UX similar to invoice inquiry (which we may then decide not to make its own gallery item). We might want to consider having variables that determine what buttons to show and hide configurable via a settings button and updating those values with:

bezl.helpers.updateVariable('varName', 'var value');

[2017-11-29 18:19] aellis opened #59 "Sales Rep - Accounts View - Add Order Inquiry Button"
Add a button in accounts view to pull up the customers orders using a UX similar to order inquiry (which we may then decide not to make its own gallery item). We might want to consider having variables that determine what buttons to show and hide configurable via a settings button and updating those values with:

bezl.helpers.updateVariable('varName', 'var value');****

[2017-11-29 18:19] aellis opened #60 "Sales Rep - Accounts View - RMA Inquiry"
Add a button in accounts view to pull up the customers RMAs using a UX similar to RMA inquiry (which we may then decide not to make its own gallery item). We might want to consider having variables that determine what buttons to show and hide configurable via a settings button and updating those values with:

bezl.helpers.updateVariable('varName', 'var value');

[2017-11-29 18:20] aellis opened #61 "Sales Rep - Trip Planner"
Add trip planner to the gallery from apps.  Convert to a standard data subscription and pull in code locally.

[2017-11-29 18:22] aellis opened #62 "Sales Manager - Sales vs Budget By Customer"
This is a Bezl already created and used by KCC, so we could start there but it was done using ChartJS which may not be ideal.  The idea is to compare sales budgets versus sales actual per customer.  The budgets may come from one data source (i.e. Excel) where the actual may come from somewhere else (like the ERP) so make those two separate standard data subscriptions.

[2017-11-29 18:24] aellis opened #63 "Customer Portal - Order Entry"
Add our existing order entry Bezl from apps to gallery.

[2017-11-29 18:25] aellis opened #64 "Sales Rep - Quote Entry"
Add a simplified version of quote entry (i.e. sales tool) to gallery.  This one may just have to be Epicor only given the design.

[2017-11-29 18:26] aellis opened #65 "CEO - Purchase Orders Pending Approval"
We have this Purchase Orders Pending Approval Bezl we made up a long while back that just needs published to gallery.  I believe this is Epicor only.

[POs Pending Approval.txt](https://github.com/bezlio/bezlio-gallery/files/1515017/POs.Pending.Approval.txt)

[2017-11-29 18:30] aellis opened #66 "Engineering / Production Worker - Multi-Job Time Tracking"
This Bezl is the one that allows an employee to retroactively pick the jobs they worked on, split the time up proportionally, and submit as labor tickets.  We should have the stuff for this either attached or back in bezlio-recipes for both Epicor and Visual.

[Time Tracking - Manual Entry.txt](https://github.com/bezlio/bezlio-gallery/files/1515030/Time.Tracking.-.Manual.Entry.txt)
[Time Tracking

[2017-11-29 18:34] aellis opened #67 "Shipping Worker - Packlist Validation"
Take the packlist validation Bezl we did for Brisk and add it to gallery.  This will likely not conform to standard installation steps given it would need to be an on demand data subscription.

[2017-11-29 18:38] aellis opened #68 "Production Worker - Job Label Print"
We did a Loftware (or Bartender) label printing Bezl for Brisk - add that to Gallery as it could definitely spark some ideas with users for how that could be used.

[2017-11-29 19:56] aellis opened #69 "Sales Rep - Accounts View - Tasks - Add Option To Add To Outlook"
This request came from a customer a while back.  After we rework tasks to make them a part of accounts view, there was also a request that a task could be created within Outlook at the same time.  I am not 100% certain on the approach here, but I do believe a properly formatted e-mail with an attachment for tasks can do something like this so we may be able to use the SMTP plugin.  Like many of th

[2017-11-29 20:02] aellis opened #70 "Sales Rep - Accounts View - Add ability to update fields"
Another request we had from a customer that has been filed in my inbox for a while now is within accounts view to permit the update of some fields.  In particular, we have had:

Contact Information
Generic Notes

Many of these enhancement tasks probably need to be iceboxed until they can be part of a big epic of a major release of accounts view that does a ton of stuff, is super configurable, etc.

[2017-11-29 20:03] aellis opened #71 "Sales Rep - Trip Planner - Allow saving routes"
This was a customer request for a while back.  In the trip planner, the desire was to be able to save and recall routes.  We might just need to use local storage to do this and rely on Google syncing that across devices until we come up with a user data plugin.

[2017-11-29 20:04] aellis commented on #71
Another option would be just to export to Google MyMaps.  Perhaps that is even a better option.

[2017-12-04 13:19] gramang commented on #30
@aellis We have Updated query, please check and confirm
[GrossProfitByProdGroup.txt](https://github.com/bezlio/bezlio-gallery/files/1527183/GrossProfitByProdGroup.txt)

[2017-12-04 13:20] gramang commented on #25
@aellis We have Updated query, please check and confirm
[GrossProfitPercentage.txt](https://github.com/bezlio/bezlio-gallery/files/1527187/GrossProfitPercentage.txt)

[2017-12-04 13:25] gramang commented on #32
@aellis Please ignore the Previous Oracle Query and Please use the update Oracle Apps Query.
[Sales by State.txt](https://github.com/bezlio/bezlio-gallery/files/1527210/Sales.by.State.txt)

[2017-12-04 14:31] OnlyAGhost commented on #50
Updated gallery-items.json to correct this

[2017-12-04 14:31] #50 closed, assigned to nobody

[2017-12-04 14:33] OnlyAGhost commented on #51
Verified this is correct now. Closing ticket.

[2017-12-04 14:33] #51 closed, assigned to nobody

[2017-12-04 14:36] OnlyAGhost commented on #53
Updated

[2017-12-04 14:37] #53 closed, assigned to nobody

[2017-12-04 15:35] OnlyAGhost commented on #35
[Digital Picklist.txt](https://github.com/bezlio/bezlio-gallery/files/1527707/Digital.Picklist.txt)

@NDMO @kmansfield I need to bug squash in webapp since portal is kind of buggy I would like to replace it out ASAP. The queries are already done, Nick can you add the date filter and then Kevin can you just make it look better?

[2017-12-04 15:47] NDMO commented on #35
@OnlyAGhost @aellis When clicking on a part, if there is no warehouse associated with it, do you want the warehouse grid to display something? currently it is displaying nothing, could be seen as not working in the customer eyes.
Also do you want a default query to run when the bezl is first started? or do you want it to require a date entry?

[2017-12-04 15:48] OnlyAGhost commented on #35
@NDMO When it first opens run the query, we are pulling all the data in and filtering it in JS (since thats the only way to make it universal currently). Start with the current month of the filter.

[2017-12-04 18:36] NDMO opened #72 "Production - Plant Manager - Production Throughput - datasub modification"
Organize the datasubs to be in the bezl itself.  remove the require statement.

[2017-12-05 14:52] NDMO commented on #35
[Digital Picklist.txt](https://github.com/bezlio/bezlio-gallery/files/1531545/Digital.Picklist.txt)
Ready for that design work @kmansfield

[2017-12-05 15:54] #36 closed, assigned to NDMO, kmansfield

[2017-12-05 19:06] kmansfield commented on #35
@NDMO @OnlyAGhost @aellis

Working on styling it now.

I love Nick's suggestion about setting it to display something in the supply column when clicking on a part and there is no warehouse associated with it.

We can also add a Bootstrap contextual class (primary, success, warning, etc.) to the table row on the demand side when it is clicked. This would change the color of the clicked row to the c

[2017-12-05 19:26] OnlyAGhost commented on #35
I think all that looks great! Love adding that context in there

[2017-12-05 20:46] kmansfield commented on #35
[Labor Entry.txt](https://github.com/bezlio/bezlio-gallery/files/1532841/Labor.Entry.txt)

@NDMO Here's that Bezl. I want to go with Bootstrap's active class for context, which is just gray. I left it in there for reference if you need it, so just delete that dummy row I added to the demand table when you're done.

[2017-12-07 12:37] gramang commented on #31
@aellis Updated the Query for the GrossProfitBySales
[GrossProfitBySales.txt](https://github.com/bezlio/bezlio-gallery/files/1539062/GrossProfitBySales.txt)

[2017-12-11 18:08] OnlyAGhost commented on #61
This is an existing one but a popular one, let's give it some love.

[2017-12-11 21:34] kmansfield opened #77 "Standardize refresh buttons inside of Bezls"
The styling (and possibly placement) of refresh buttons inside of gallery items should be standardized.

[2017-12-11 22:08] #35 closed, assigned to NDMO, kmansfield

[2017-12-12 14:07] aellis commented on #61
[trip-planner.zip](https://github.com/bezlio/bezlio-gallery/files/1551856/trip-planner.zip)

[2017-12-12 14:11] aellis commented on #61
Login: sales-rep@bezl.io / sales

[2017-12-13 19:02] NDMO opened #78 "Sales Rep - Task View - Reorganize js structure"
All the code is currently being required in, we have to take that code and organize it back into the folder structure, all datasubs must be in the folder structure

[2017-12-13 19:17] bitingmidge commented on #34
@aellis What should the data structure of the out-of-the-box Excel spreadsheet look like? I would think it would have columns such as "Shipment ID", "Requested Date", "Ship Date", etc...

However, the attached OnTimeShipment.txt query already has everything rolled up into just three fields: "STATUS", "COUNT", and "YEAR". In order to make this easily switchable between data sources wouldn't that me

[2017-12-14 15:22] aellis commented on #34
@bitingmidge I think we could still make this work with the Excel workbook simply by adding a new sheet with formulas that do the same sort of roll-up.  I was somewhat tempted to say just make the queries not roll-up and be more raw data like you suggested, but I think some companies with massive number of shipments might see this Bezl perform poorly if they had to do all of that data transfer.

[2017-12-19 14:38] kmansfield commented on #61
[Trip Planner.txt](https://github.com/bezlio/bezlio-gallery/files/1571970/Trip.Planner.txt)

Here is the UI for the trip planner Bezl. UI is mostly done, but will need to have tabs installed once Angular Materials is fully installed into gallery. I'll need to look at it again once that is ready.

Here's some JS things it will need done:

1. Starting Destination like old one
2. Functionality for mo

[2017-12-19 14:47] NDMO commented on #62
[Actual vs Budget By Customer.txt](https://github.com/bezlio/bezlio-gallery/files/1572002/Actual.vs.Budget.By.Customer.txt)
@kmansfield

[2017-12-19 14:49] NDMO commented on #67
[Packlist Verification.txt](https://github.com/bezlio/bezlio-gallery/files/1572012/Packlist.Verification.txt)
@kmansfield

[2017-12-20 15:17] kmansfield commented on #62
[Actual vs Budget By Customer.txt](https://github.com/bezlio/bezlio-gallery/files/1575968/Actual.vs.Budget.By.Customer.txt)

@aellis Here is a mockup of the tweaked UI for this Bezl. I know you mentioned that you might want to steer clear of ChartJS, but I left it in there. I think that bar charts are a really good tool to visualize the comparison of sales figures, but we can swap out the content

[2017-12-21 15:30] aellis commented on #62
@kmansfield I was not able to run this one due to the connection, but as we discussed earlier I am good with keeping this one with ChartJS for now.  They are not quite as pretty as FusionCharts but convey the same info.  I would like to convert this Bezl to using standard data subscriptions and base the Bezl on Excel initially.

[2017-12-21 15:35] NDMO commented on #62
@aellis I can head that up

[2017-12-28 15:48] kmansfield commented on #67
[Packlist Verification.txt](https://github.com/bezlio/bezlio-gallery/files/1591504/Packlist.Verification.txt)

Here is adjusted UI for the packlist verification. Works the same as previous version.

Here's a list of things the developer will need to do. Please see me for clarification when you begin working on it.

1. 3 classes for scan progress (warning, success, danger). I have them hard-coded f

[2018-01-08 15:17] NDMO commented on #60
Robbjack noticed some issues with the RMA inquery, so here is an updated bezlExport file.
[RMA Inquiry.txt](https://github.com/bezlio/bezlio-gallery/files/1612005/RMA.Inquiry.txt)

[2018-01-08 15:18] NDMO commented on #58
Robbjack noticed some issues with the invoice inquiry, here is the updated bezl export file.
[Invoice Inquiry.txt](https://github.com/bezlio/bezlio-gallery/files/1612009/Invoice.Inquiry.txt)

[2018-01-11 19:34] OnlyAGhost commented on #48
@NDMO can you work with @PriSaber for this request? Should be a good entry point to the process.

[2018-01-12 13:29] PriSaber commented on #48
@aellis I updated code to remove the validation for materials and committed the code.

[2018-01-12 13:37] aellis commented on #48
@PriSaber - great - thank you!  I will take care of getting this installed for the customer, so closing this issue out.

[2018-01-12 13:37] #48 closed, assigned to NDMO, PriSaber

[2018-01-16 13:40] NDMO opened #84 "Production - Time Tracking - Manual Entry"
[Time Tracking - Manual Entry (Visual 70).txt](https://github.com/bezlio/bezlio-gallery/files/1635301/Time.Tracking.-.Manual.Entry.Visual.70.txt)
We need to add this bezl to the gallery. Queries should be on \\dev-epicor10\data\Queries still.

[2018-06-20 16:32] kprice595 opened #89 "Epicor905 plugin, ExecuteBOMethod not listing all needed arguments"
When you try to set up a Data Subscription using the EPicor905 plugin for the ExecuteBOMethod  method the arguments just show connection, company, and baqid. It needs to have the arguments: connection, company, BOName, and BOMethodName to run the method properly.
This is needed in general, but specifically for the Greene Rubber Co. Bezl since they are using that method in dynamic calls and not thr

[2018-09-17 12:10] #77 closed, assigned to nobody